@keyframes
  myMove {
    0% { top: 0px; }
    100% { top: 350px; }
      }
  .myMove{animation: myMove 5s ease-out}
@keyframes
  scale-up-ver-top{0%{transform:scaleY(.4);
    transform-origin:100% 0}
    100%{
      transform:scaleY(1);
      transform-origin:100% 0}}

.scale-up-ver-top{animation:scale-up-ver-top 4s ease-out}

.colorbox {
  border-top:100px outset #fdff00;
  border-right:100px outset #2200ff;
  border-bottom:100px outset #05e51f;
  border-left:100px outset #ff1a00;
}
  div {
   width: 1000px;
   height: 700px;
   border: 20px color white;
   padding: 10px;
   margin: 10px;

}
body {
background:#D1D8FF;
}
      h1 {
        font-family: monospace;
      }
      p {
        font-family: monospace;
        color: red;
      }

.title {
  position: fixed;
  left: 50px;
  top: 10px;
  z-index: 0;
}
