
  div {
   width: 1000px;
   height: 700px;
   border: 20px color white;
   padding: 10px;
   margin: 10px;
}

body {
  background:#D1D8FF;
     }
h1 {
  font-family: monospace;
  font-size: 40pt
    }
p {
  font-family: monospace;
  font-size: 20pt;
  color: #C70039;
  }
p1{
  font-family: monospace;
  font-size: 20pt;
  color: #C70039
}

  img {
    position: fixed;
    left: 900px;
    top: 155px;
    width: 350px;
    height:500px;
    border-radius: 200%;
  }
.title {
  position: fixed;
  left: 50px;
  top: 10px;
  z-index: 0;
}
.circle {
  position: fixed;
  left: 700px;
  top: 35px;
  width: 700px;
  height: 700px;
  background: #DAF7A6;
  border-radius: 100%
    }
.circle1 {
  position: fixed;
  left: 750px;
  top: 90px;
  width: 600px;
  height: 600px;
  background: #A6F7E5;
  border-radius: 100%
        }
.circle2 {
  position: fixed;
  left: 800px;
  top: 137px;
  width: 500px;
  height: 500px;
  background: pink;
  border-radius: 100%
