
  div {
   width: 1000px;
   height: 700px;
   border: 20px color white;
   padding: 10px;
   margin: 10px;
}

body {
  background:#D1D8FF;
     }
h1 {
  font-family: monospace;
    }
p {
  font-family: monospace;
  color: white;
  }

.title {
  position: fixed;
  left: 50px;
  top: 10px;
  z-index: 0;
}
.circle {
  position: absolute;
  left: 500px
  top: 70px
      width: 600px;
      height: 700px;
      background: white;
      border-radius: 100%
    }
